{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">Infinity Cast</div>

        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet aut consequuntur eligendi enim
            eum, ex odit quia quis! Id in minima minus praesentium quas quidem reprehenderit similique voluptates!
        </div>
    </div>

{% endblock %}
