{% extends 'base.html.twig' %}

{% block title %}Cast{% endblock %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">Caster une annonce</div>

        <div class="card-body">
            {{ form_start(form) }}
            {{ form_rest(form) }}

            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-lg">
                    Caster
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
