{% extends 'admin/layout/card.html.twig' %}

{% block title %}Edit{% endblock %}
{% block cardTitle %}
    {{ icon('pen') }}
    Edit a webhooks
{% endblock %}

{% block content %}
    <section class="stack-large">

        <section>
            {{ include('admin/webhooks/_form.html.twig', {label: 'Edit'}) }}
        </section>
    </section>
{% endblock %}
