{% extends 'admin/layout/card.html.twig' %}

{% block title %}New{% endblock %}
{% block cardTitle %}
    {{ icon('pen') }}
    Create a association member
{% endblock %}

{% block content %}
    <section class="stack-large">

        <section>
            {{ include('admin/association-members/_form.html.twig', {label: 'Create'}) }}
        </section>
    </section>
{% endblock %}
